.clearfix:after{
	content: '';
	display: block;
	clear: both;
}
ul{
	margin: 0;
}
header{
	/*height: 550px;*/
	background: rgba(0,0,0,0.4);
	color: #fff;
}
nav{
	background: transparent;
	height: 50px;
}
#banner{
	background: transparent;
	height: 700px;
}
.article #banner{
	height: 500px;
}
nav ul{
	list-style: none;
	margin: 0;
	float: right;
}
nav ul li, nav .logo{
	display: inline-block;
	line-height: 50px;
	margin-right: 20px;
}
nav ul li a{
	line-height: inherit;
	text-decoration: none;
	display: inline-block;
	height: inherit;
	color: #fff;
	float: left;
}
#banner .inner{
	max-width: 300px;
	text-align: center;
	margin: 0 auto;
	position: relative;
	top: 150px;
}
.article #banner .inner{
	top:80px;
		
}
#banner .inner h1,h2{
	margin: 0;
}
button{
	border: none;
	background: #333;
	color: #fff;
	padding: 20px;
}
button a{
	text-decoration: none;
	color: #fff;
}
#banner button{
	padding: 15px 20px;
	background: #262f95b5;
}

#banner .inner .more{
	margin-top: 120px;
}
.more a{
	text-decoration: none;
	color: #fff;
}
.sub-heading{
	line-height: 30px;
	margin: 20px;
}
.active{
	border-bottom: 1px solid rgba(255, 255, 255, 0.55);	
}
.logo{
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 1px;
	
}
.logo a{
	color: #fff;
	padding:0 10px;
	text-decoration: none;
}
h1{
	padding: 12px;
	border-top: 2px solid #fff;
	border-bottom:2px solid #fff ;
}
.article h1{
	border: none;
	
}
h2{
	font-size: 30px;
}
h3{
	font-size:24px;
}
p{
	font-size:18px;
	letter-spacing: 3px;
}

footer{
	background: rgba(51,51,51,0.97);
	color: #fff;
	min-height: 200px;
	text-align: center;
}
.share-group{
	display: block;
	width: 1080px;
	margin: 0 auto;
	padding: 70px 0 50px 0;
}
.share-group li{
	display: inline-block;
	padding:10px;
}
.icon p{
	transform: rotate(-45deg);
	padding: 0 0 25px 25px;
	     // 上 右   下    左
}
.copy{
	padding-bottom: 60px;
}
.main-wrapper{
	background: #444 url(../img/banner.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom center;
	overflow: hidden;
}
.mask{
	display: none;
	position:fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	/*盖住四面八方，好做变暗效果*/
	background: rgba(0, 0, 0, 0.3);
}
#sidebar{
	position:fixed;
	top:0;
	bottom: 0;
	right:-300px;
	width:300px;
	background: #333;
	padding:20px 0;
	transition: right 0.6s;/*过渡0.6s;*/
}

#sidebar ul{
	list-style: none;
	/*清除原本的样式*/
	padding: 0;
	margin: 0;
}
 #sidebar ul a{
 	color: #fff;
 	text-decoration: none;
 	/*清除#sidebar中a的样式*/
 	padding: 10px 30px;
 	width:100%;
 	display: inline-block;
 }

#sidebar ul a:hover{
	background: #444;
}
.back-to-top{
	position: fixed;
	bottom: 30px;
	right: 30px;
	border: 1px solid #888;
}
.article .content{
	background: rgba(255,255,255,0.85);
}
.content_wrapper{
	width:1080px;
	margin: 0 auto;
}
.article_info{
	font-size: 14px;
	color:#888;
	padding: 15px;
}
article{
	line-height: 2;
	padding: 10px 0;
	background: #fff;
}

textarea{
	font-size: 100%;
	letter-spacing: inherit;
	width: 80%;
	height: 750px;
}
